.container {
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
  border: solid 1px gray;
  padding: 5px;
  box-shadow: 1px;
  .group-btn {
    display: flex;
    justify-content: space-around;
  }
  .btn {
    padding: 10px;
  }
  .btn-pause-start {
    width: 100px;
  }
}
